<!-- FooterTD.html -->
<footer class="tch-footer py-3 bg-gray-black text-white">
    <div class="container">
        <div class="row">
            <!-- Thông tin -->
            <div class="col-md-6">
                <h6 class="fw-bold mb-1">Trụ sở chính tại Hồ Chí Minh</h6>
                <p>Lầu 7, Trung Tâm Thương Mại GigaMall, Số 242 Phạm Văn Đồng, P. Hiệp Bình Chánh, Tp. Thủ Đức</p>
                <a href="#" class="fw-semibold text-decoration-none" style="color: #e27600;">Xem bản đồ</a>
                <p class="mt-2 mb-0">(028)71078079 - Ext: 507</p>
                <p>Email: hr.hcm@thecoffeehouse.vn</p>

                <h6 class="fw-bold mt-4 mb-1">Trụ sở chính tại Hà Nội</h6>
                <p>30 Hào Nam, Phường Ô Chợ Dừa, Quận Đống Đa, Tp. Hà Nội</p>
                <a href="#" class="fw-semibold text-decoration-none" style="color: #e27600;">Xem bản đồ</a>
                <p class="mt-2 mb-0">(024)710 780 79 - Ext: 111</p>
                <p>Email: hr.hn@thecoffeehouse.vn</p>
            </div>

            <!-- Liên kết -->
            <div class="col-md-6">
                <ul class="list-unstyled ">
                    <li><a href="#" class="text-white text-decoration-none">Việc làm cửa hàng</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Việc làm văn phòng</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Tra cứu kết quả</a></li>
                </ul>
            </div>
        </div>

        <hr class="border-secondary my-4">

        <div class="text-center">
            <p class="mb-3">Theo dõi chúng tôi để nhận tin mới</p>
            <div class="d-flex justify-content-center gap-4 fs-4">
                <a href="#" class="text-white"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-white"><i class="bi bi-youtube"></i></a>
                <a href="#" class="text-white"><i class="bi bi-tiktok"></i></a>
                <a href="#" class="text-white"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>
