<header class="tch-header">
    <div class="container d-flex align-items-center justify-content-center ml-2">
        <img src="/images/theCF.jpg" alt="The Coffee House Careers" class="tch-logo">

        <div class="d-flex align-items-center gap-3">
            <div class="text-center menu-item">
                <i class="bi bi-house-door"></i>
                <span>Việc làm cửa hàng</span>
            </div>
            <div class="text-center menu-item">
                <i class="bi bi-building"></i>
                <span>Việc làm văn phòng</span>
            </div>
            <div class="text-center menu-item">
                <i class="bi bi-search"></i>
                <span>Tra cứu kết quả</span>
            </div>
        </div>
    </div>
</header>
